body {
  margin: 0;
  background: rgb(248, 248, 248);
}

@media screen and (max-width: 539px) {
  #top-header {
    flex-direction: column;
    align-items: flex-end;
  }
}

@media screen and (min-width: 540px) {
  #top-header {
    align-items: center;
  }
}

#top-header {
  margin: 10px 0 0 0;
  display: flex;
  justify-content: space-between;
}

#header-beside-nav {
  color: rgb(38, 0, 59);
  font-family: 'Satisfy', cursive;
  align-self: start;
  text-align: left;
  padding: 10px 0 10px 24px;
  font-size: 35px;
  text-decoration: none;
  flex-shrink: 0;
}

nav {
  padding: 5px 30px 2px 20px;
  background-color: rgb(77, 122, 107);
  border-radius: 6px 0 0 6px;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 4px;
  font-family: 'Hind Guntur', sans-serif;
  font-size: 16px;
}

.projects-dropdown {
  position: relative;
  display: inline-block;
  text-align: right;
  padding: 4px;
  font-family: 'Hind Guntur', sans-serif;
  font-size: 16px;
}

.dropdown-button {
  color: white;
  cursor: pointer;
}

.dropdown-content {
  background-color: rgba(73, 53, 53, 0.945);
  border-radius: 0 0 8px 8px;
  display: none;
  position: absolute;
  min-width: 173px;
  right:0;
  z-index: 1;
  padding: 3px;
  margin: 6px 0 0 0;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.151);
}

.dropdown-content a {
  display: block;
  text-align: right;
  padding: 2px 12px 2px 0;
}

.up-arrow {
  display: none;
}

.show {
  display: block;
}

.show-arrow{
  display: inline-block;
}

.hide {
  display: none !important;
}

h1 {
  margin: auto;
  width: 95%;
  /* border: 3px solid green; */
  padding: 10px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 34px;
  font-weight: 600;
}

h2 {
  margin: auto;
  width: 98%;
  /* border: 3px solid green; */
  padding: 10px;
  font-family: 'Hind Guntur', sans-serif;
}

p {
  margin: auto;
  width: 94%;
  /* border: 3px solid green; */
  padding: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  /* font-weight: 500; */
  font-size: 17px;
}

ol {
  margin: 0 0 0 25px;
  width: 85%;
  /* border: 3px solid green; */
  padding: 0 10px 0 10px;
}

main {
  margin: auto;
  margin-top: 6px;
  margin-bottom: 20px;
  width: 90%;
  /* border: 3px solid green; */
  padding: 10px 10px 10px 10px;
  border-radius: 8px;
  background-color: white;
}

section {
  margin: auto;
  width: 92%;
  /* border: 3px solid green; */
  padding: 6px 10px 6px 10px;
  background-color: white;
}

.project-screenshot {
  max-width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#piece-3-embed {
  max-width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
}

#portfolio-section-homepage {
  display: flex;
  flex-wrap: wrap;
}

#homepage-embed {
  max-width: 100%;
  display: inline-block;
  margin: auto;
  border-radius: 4px;
}

figure {
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

figcaption {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  text-align: center;
}

#portfolio-list-header {
  display: block;
}

#portfolio-list-header h2{
  display: inline;
  padding-right: 4px;
}

#portfolio-list-header h3{
  display: inline;
  font-family: 'Hind Guntur', sans-serif;
  font-size: 14px;
}

header img {
  max-width: 150px;
  float: right;
  margin-right: 8%;
  margin-left: 2%;
  margin-bottom: 1%;
}

/* #about-h1 {
  padding-bottom: 0;
}

#about-section {
  padding-top: 16px;
} */

@media screen and (max-width: 389px) {
  header img {
    float: none;
    margin: auto;
    margin-top: 8px;
    display: block;
  }
}