body {
  margin: 0;
}

@media screen and (max-width: 509px) {
  #top-header {
    flex-direction: column;
    align-items: flex-end;
  }
}

@media screen and (min-width: 510px) {
  #top-header {
    align-items: center;
  }
}

#top-header {
  margin: 10px 0 0 0;
  display: flex;
  justify-content: space-between;
}

#header-beside-nav {
  color: rgb(38, 0, 59);
  font-family: 'Satisfy', cursive;
  align-self: start;
  text-align: left;
  padding: 10px 0 10px 24px;
  font-size: 35px;
  text-decoration: none;
  flex-shrink: 0;
}

nav {
  padding: 4px 30px 2px 20px;
  background-color: rgb(77, 122, 107);
  border-radius: 6px 0 0 6px;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 4px;
  font-family: 'Hind Guntur', sans-serif;
  font-size: 15px;
}

.projects-dropdown {
  position: relative;
  display: inline-block;
  text-align: right;
  padding: 4px;
  font-family: 'Hind Guntur', sans-serif;
  font-size: 15px;
}

.dropdown-button {
  color: white;
  cursor: pointer;
}

.dropdown-content {
  background-color: rgba(73, 53, 53, 0.911);
  border-radius: 10px 10px 10px 10px;
  display: none;
  position: absolute;
  min-width: 160px;
  right:0;
  z-index: 1;
  padding: 3px;
  margin: 6px 0 0 0;
}

.dropdown-content a {
  display: block;
  text-align: right;
  padding: 2px 12px 2px 0;
}

.up-arrow {
  display: none;
}

.show {
  display: block;
}

.show-arrow{
  display: inline-block;
}

.hide {
  display: none !important;
}

h1 {
  margin: auto;
  width: 95%;
  /* border: 3px solid green; */
  padding: 10px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 34px;
  font-weight: 600;
}

h2 {
  margin: auto;
  width: 98%;
  /* border: 3px solid green; */
  padding: 10px;
  font-family: 'Hind Guntur', sans-serif;
}

p {
  margin: auto;
  width: 94%;
  /* border: 3px solid green; */
  padding: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  /* font-weight: 500; */
  font-size: 17px;
}

ol {
  margin: 0 0 0 25px;
  width: 85%;
  /* border: 3px solid green; */
  padding: 0 10px 0 10px;
}

main {
  margin: auto;
  width: 90%;
  /* border: 3px solid green; */
  padding: 0 10px 0 10px;
}

section {
  margin: auto;
  width: 92%;
  /* border: 3px solid green; */
  padding: 4px 10px 4px 10px;
}